*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    margin: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 40px;
}

.image-container{
    display: flex;
}

.image-container img{
    width: 100%;
}

article{
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(242, 238, 238);
    text-align: center;
}